/* shared style  */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  margin: 10px 80px;
  font-family: "Mulish", sans-serif;
}
.primary-title {
  font-size: 2rem;
  font-weight: 800;
  color: rgb(19, 19, 24);
}
.primary-button {
  border-radius: 8px;
  background: rgb(255, 84, 0);
  color: rgb(255, 255, 255);
  font-weight: 700;
  border: 0;
  padding: 15px;
}
.paragraph-style {
  color: rgba(19, 19, 24, 0.7);
  font-weight: 400;
}
.search-input {
  border-radius: 8px;
  background: rgb(255, 255, 255);
  font-weight: 400px;
  color: rgba(19, 19, 24, 0.5);
  border: 0;
  padding: 15px;
  font-size: 0.9rem;
  width: 174px;
}

/* nav style  */
nav,
.header-with-logo,
.nav-ul-tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.nav-ul-tag > li {
  list-style: none;
}
.nav-ul-tag > li > a {
  text-decoration: none;
  color: rgb(66, 66, 71);
  font-weight: 400;
}
.nav-ul-tag .home-a {
  color: rgb(255, 84, 0);
}
.travel {
  color: rgb(255, 84, 0);
}

/* header content  */
.header-container {
  text-align: center;
}
.header-container-title {
  background-image: url(../Images/header-img.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 450px;
}

.Explore-Your-Travel {
  color: rgb(19, 19, 24);
  font-size: 4rem;
  font-weight: 800;
}
/* search area  */
.header-container-search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
margin-top: 50px;
padding: 10px 0 10px 0;
}
.find-out-btn {
  width: 200px;
}
.select {
  border-radius: 8px;
  background: rgb(255, 255, 255);
  font-weight: 400px;
  color: rgba(19, 19, 24, 0.5);
  border: 0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 174px;
}
.caret {
  height: 0;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid rgba(19, 19, 24, 0.5);
  transition: 0.3s;
}

/* Our-Popular-Tours */
.Our-Popular-Tours{
margin-top: 50px;
display: flex;
justify-content: space-between;
gap: 30px;
align-items: center;
}
.Our-Popular-Tours, li {
  margin-top: 20px;
}


/* ===========================================Responsive Code============================================= */
/* media query style  */
/* for mobile devices */
@media screen and (max-width: 576px) {
  body {
    margin: 10px;
  }
  nav,
  .header-with-logo,
  .nav-ul-tag,
  .header-container-search,
  .Our-Popular-Tours {
    flex-direction: column;
    padding: 10px;
  }
  .Explore-Your-Travel {
    color: rgb(19, 19, 24);
    font-size: 1.2rem;
    font-weight: 800;
  }
  .Our-Popular-Tours-img > img {
    width: 100%;
  }
}

/* for tablet devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
  nav,
  .header-with-logo,
  .header-container-search,
  .Our-Popular-Tours {
    flex-direction: column;
  }
}
